.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    padding: 12px 15px;
    font-family: var(--font-family-PTSans-reg);
    @include fluid-size-text(14, 24);
    text-align: center;
    border-radius: 38px;
    @extend %exted-shadow-button;

    &__text {
        margin: 0 10px;
    }

    &__image {
        @include fluid-img-width (27, 37);
        @include fluid-img-height (10, 20)
    }
}

@include laptop () {
    .button {
        padding: 7px 10px;
        @include fluid-size-text(14, 24);
        border-radius: 28px;
    }
}