.price {
    display: flex;
    justify-content: space-between;
    max-width: 1490px;
    height: 279px;
    margin: 48px auto;

    &__space {
        text-align: center;
        width: 15%;
        height: 100%;
        border-bottom: var(--background-title);
        border-right: black;
        background-color: var(--background-text);
        border-right: 2px solid var(--background-button-price);
        border-bottom: 2px solid var(--background-button-price);
    }

    &__images {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 203px;
    }

    &__type {
        width: 55%;
        background-color: var(--background-text);
        border-right: 2px solid var(--background-button-price);
        border-bottom: 2px solid var(--background-button-price);
    }

    &__texts {
        margin-top: 23px;
    }

    &__text {
        font-family: var(--font-family-PTSans-reg-it);
        @include fluid-size-text(16, 32);
        color: var(--color-black);
        padding: 19px 38px
    }

    &__image-bed {
        @include fluid-img-height(22, 39);
        @include fluid-img-width(52, 102);
        margin-left: 10px;
    }

    &__order {
        width: 30%;
        height: 100%;
        background-color: var(--background-text);
        border-bottom: 2px solid var(--background-button-price);
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 203px;
        margin: auto 10px;
    }

    &__button {
        max-width: 306px;
        width: 100%;
        height: 70px;
        font-family: var(--font-family-PTSans-reg-it);
        @include fluid-size-text(18, 32);
        color: var(--color-white);
        background-color: var(--background-button-price);
        @extend %exted-shadow-button;
    }

    &__title {
        display: flex;
        align-items: center;
        background-color: var(--background-text-price);
        color: var(--color-white);
        font-family: var(--font-family-PTSans-reg-it);
        @include fluid-size-text(18, 32);
        padding-left: 51px;
        height: 76px;
    }

    &__image-piope {
        width: 42px;
    }
}

@include desktop {
    .price {
        &__space {
            width: 25%;
        }

        &__type {
            width: 50%;
        }

        &__order {
            width: 25%;
        }
    }
}

@include table {
    .price {
        flex-wrap: wrap;
        height: auto;

        &__title {
            justify-content: center;
            padding-left: inherit;
            height: 56px;
        }

        &__space {
            width: 30%;

        }

        &__type {
            width: 70%;
        }

        &__text {
            padding: 19px 18px
        }

        &__image-bed {
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 24px;
        }

        &__order {
            width: 100%;
            height: 150px;
        }

        &__buttons {
            height: 94px;
        }

        &__button {
            height: 40px;
        }
    }
}