.slider-block {
    position: relative;
    height: fit-content;
    margin-top: 53px;

    &__text {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 5px;
        left: 0;
        padding: 26px;
        background-color: rgba(255, 255, 255, 0.8);
        max-width: 1112px;
        min-height: 167px;
        overflow: visible;
        font-family: var(--font-family-PTSans-reg-it);
        @include fluid-size-text(14, 24);
        color: var(--color-primary);
    }

    &__button {
        position: absolute;
        top: -34px;
        right: 0;
    }
}

@include desktop {
    .slider-block {
        &__button {
            top: 0;
            right: 10px;
        }
    }
}

@include laptop {
    .slider-block {
        &__text {
            min-height: 127px;
        }
    }
}

@include table {
    .slider-block {
        height: inherit;

        &__text {
            position: relative;
            padding: 16px;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}