body {
    font-family:  var(--font-family-PTSans-reg);
    background-color: var(--background-main);
}
// --font-family-PTSans-reg: 'PTSans-Regular';
// --font-family-PTSans-reg-it: 'PTSans-Regular-italic';
// --font-family-PTSans-bold: 'PTSans-Bold';
// --font-family-PTSans-bold-it: 'PTSans-Bold-italic';

a {
    color: var(--color-white);
}