@mixin fluid-size-text($min, $max) {
    font-size: clamp(#{$min}px, #{$max / 1920 * 100}vw, #{$max}px);
}

@mixin fluid-img-width($min, $max) {
    width: clamp(#{$min}px, #{$max / 1920 * 100}vw, #{$max}px);
}

@mixin fluid-img-height($min, $max) {
    height: clamp(#{$min}px, #{$max / 1920 * 100}vw, #{$max}px);
}

@mixin automatic-padding($minH, $maxH, $minW, $maxW) {
    padding: clamp(#{$minH}px, #{$maxH / 1920 * 100}vw, #{$maxH}px) clamp(#{$minW}px, #{$maxW / 1920 * 100}vw, #{$maxW}px);
}


