:root {
    --color-primary: #202846;
    --color-primary-select: #313853;
    --color-black-text: #414141;
    --color-black-text2: #323236;
    --color-white: white;
    --color-black: black;
    --color-white-footer: #EEECF1;
    --color-gray: #C4C4C6;

    --background-main: #DCDCDC;
    --background-nav-sl: #215023;
    --background-nav-sl-active: #A5BB4F;
    --background-relax-text: #EAEAEB;
    --background-form: #F2EEEE;
    --background-title: #C6C6DC;
    --background-text: #cbcbcb;
    --background-text-place: #d7d7dd;
    --background-block-place: #bdbdc6;
    --background-text-price: #4C536B;
    --background-button-price: #687BC0;

    --border-color-input: #90a4ae;

    --font-family-PTSans-reg: 'PTSans-Regular';
    --font-family-PTSans-reg-it: 'PTSans-Regular-italic';
    --font-family-PTSans-bold: 'PTSans-Bold';
    --font-family-PTSans-bold-it: 'PTSans-Bold-italic';
}