.registration {
    min-height: 90vh;

    &__titles {
        display: flex;
        align-items: center;
        background-color: var(--background-title);
        height: 140px;
    }

    &__title {
        color: var(--color-primary);
        font-family: var(--font-family-PTSans-reg-it);
        @include fluid-size-text(24, 48);
        line-height: 62px;
        margin-left: 12vw;
    }
}

.form {
    position: relative;
    max-width: 518px;
    margin: 25px auto 25px;
    padding: 10px 10px 70px;
    border: 3px solid var(--color-gray);
    background-color: var(--background-form);
    @extend %exted-shadow-img;
    overflow: hidden;

    &__title {
        text-align: center;
        align-self: flex-start;
        color: var(--color-primary-select);
        font-family: var(--font-family-PTSans-bold-it);
        @include fluid-size-text(22, 36);
        line-height: 47px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        &_flex {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-bottom: 14px;
        }
    }

    &__label {
        color: var(--color-primary-select);
        @include fluid-size-text(18, 24);
    }

    &__input {
        border: 2px solid var(--color-primary);
        border-radius: 8px;
        @include automatic-padding(4, 10, 4, 8);
        color: var(--color-primary-select);
        @include fluid-size-text(18, 24);
        margin-top: 2px;
    }

    &__button {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

    &__error {
        @include fluid-size-text(12, 14);
        color: red;
        height: 14px;
    }

    &__no-user {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0.836);
        @include slideTop(4s)
    }
}

@include mobile {
    .form {
        margin: 25px 10px 25px;
    }
}